USE [master]
GO
/****** Object:  Database [KIRTASIYE_YONETIM_DB]    Script Date: 1.03.2026 16:25:52 ******/
CREATE DATABASE [KIRTASIYE_YONETIM_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KIRTASIYE_YONETIM_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\KIRTASIYE_YONETIM_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KIRTASIYE_YONETIM_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\KIRTASIYE_YONETIM_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KIRTASIYE_YONETIM_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KIRTASIYE_YONETIM_DB]
GO
/****** Object:  Table [dbo].[ALIS_FIYAT]    Script Date: 1.03.2026 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALIS_FIYAT](
	[AlisID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[TedarikciID] [int] NULL,
	[Alis_Fiyati] [decimal](10, 2) NULL,
	[Alis_Tarihi] [datetime] NOT NULL,
	[Miktar] [int] NULL,
	[Toplam_Tutar] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AlisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALISANLAR]    Script Date: 1.03.2026 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALISANLAR](
	[CalisanID] [int] IDENTITY(1,1) NOT NULL,
	[CalisanAdi] [nvarchar](50) NOT NULL,
	[CalisanSoyadi] [nvarchar](50) NOT NULL,
	[Unvan] [nvarchar](50) NOT NULL,
	[Ise_Alim_Tarih] [datetime] NOT NULL,
	[Tel_No] [nvarchar](15) NOT NULL,
	[KullaniciID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CalisanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORILER]    Script Date: 1.03.2026 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORILER](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](255) NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KategoriAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KULLANICILAR]    Script Date: 1.03.2026 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KULLANICILAR](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](40) NOT NULL,
	[KullaniciAD] [nvarchar](50) NOT NULL,
	[KullaniciSoyad] [nvarchar](50) NOT NULL,
	[Kullanici_Yetkisi] [nvarchar](50) NOT NULL,
	[TelNo] [nvarchar](15) NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERILER]    Script Date: 1.03.2026 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERILER](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[M_Ad] [nvarchar](50) NOT NULL,
	[M_Soyad] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](15) NOT NULL,
	[Adres] [nvarchar](255) NOT NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAPOR]    Script Date: 1.03.2026 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAPOR](
	[RaporID] [int] IDENTITY(1,1) NOT NULL,
	[Rapor_Tarihi] [datetime] NOT NULL,
	[Toplam_Satis] [decimal](10, 2) NULL,
	[Toplam_Maliyet] [decimal](10, 2) NULL,
	[Kar_Orani] [decimal](7, 2) NULL,
	[Satilan_Toplam_Urun] [int] NULL,
	[En_Cok_Satan_UrunID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RaporID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPARIS_DETAYLARI]    Script Date: 1.03.2026 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARIS_DETAYLARI](
	[Siparis_DetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NULL,
	[UrunID] [int] NULL,
	[Miktar] [int] NULL,
	[Birim_Fiyat] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Siparis_DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPARISLER]    Script Date: 1.03.2026 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARISLER](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[Siparis_Tarih] [datetime] NOT NULL,
	[Toplam_Tutar] [decimal](10, 2) NOT NULL,
	[Odeme_Turu] [nvarchar](50) NULL,
	[Kullanici_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEDARIKCILER]    Script Date: 1.03.2026 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEDARIKCILER](
	[TedarikciID] [int] IDENTITY(1,1) NOT NULL,
	[TedarikciAdi] [nvarchar](50) NOT NULL,
	[TedarikciSoyadi] [nvarchar](50) NOT NULL,
	[FirmaAdi] [nvarchar](100) NOT NULL,
	[TelefonNo] [nvarchar](15) NOT NULL,
	[Adres] [nvarchar](255) NOT NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TedarikciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUNLER]    Script Date: 1.03.2026 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUNLER](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](100) NOT NULL,
	[KategoriID] [int] NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[StokMiktari] [int] NOT NULL,
	[Urun_Resim] [nvarchar](255) NULL,
	[TedarikciID] [int] NULL,
	[Alis_Fiyat] [decimal](10, 2) NOT NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALIS_FIYAT] ADD  DEFAULT (getdate()) FOR [Alis_Tarihi]
GO
ALTER TABLE [dbo].[CALISANLAR] ADD  DEFAULT (getdate()) FOR [Ise_Alim_Tarih]
GO
ALTER TABLE [dbo].[KATEGORILER] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[KULLANICILAR] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[MUSTERILER] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[RAPOR] ADD  DEFAULT (getdate()) FOR [Rapor_Tarihi]
GO
ALTER TABLE [dbo].[SIPARISLER] ADD  DEFAULT (getdate()) FOR [Siparis_Tarih]
GO
ALTER TABLE [dbo].[TEDARIKCILER] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[URUNLER] ADD  DEFAULT ((0)) FOR [Alis_Fiyat]
GO
ALTER TABLE [dbo].[URUNLER] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[ALIS_FIYAT]  WITH CHECK ADD FOREIGN KEY([TedarikciID])
REFERENCES [dbo].[TEDARIKCILER] ([TedarikciID])
GO
ALTER TABLE [dbo].[ALIS_FIYAT]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[URUNLER] ([UrunID])
GO
ALTER TABLE [dbo].[CALISANLAR]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[KULLANICILAR] ([KullaniciID])
GO
ALTER TABLE [dbo].[RAPOR]  WITH CHECK ADD FOREIGN KEY([En_Cok_Satan_UrunID])
REFERENCES [dbo].[URUNLER] ([UrunID])
GO
ALTER TABLE [dbo].[SIPARIS_DETAYLARI]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[SIPARISLER] ([SiparisID])
GO
ALTER TABLE [dbo].[SIPARIS_DETAYLARI]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[URUNLER] ([UrunID])
GO
ALTER TABLE [dbo].[SIPARISLER]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[MUSTERILER] ([MusteriID])
GO
ALTER TABLE [dbo].[SIPARISLER]  WITH CHECK ADD  CONSTRAINT [FK_SIPARISLER_KULLANICILAR] FOREIGN KEY([Kullanici_ID])
REFERENCES [dbo].[KULLANICILAR] ([KullaniciID])
GO
ALTER TABLE [dbo].[SIPARISLER] CHECK CONSTRAINT [FK_SIPARISLER_KULLANICILAR]
GO
ALTER TABLE [dbo].[URUNLER]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[KATEGORILER] ([KategoriID])
GO
ALTER TABLE [dbo].[URUNLER]  WITH CHECK ADD  CONSTRAINT [FK_URUNLER_TEDARIKCILER] FOREIGN KEY([TedarikciID])
REFERENCES [dbo].[TEDARIKCILER] ([TedarikciID])
GO
ALTER TABLE [dbo].[URUNLER] CHECK CONSTRAINT [FK_URUNLER_TEDARIKCILER]
GO
ALTER TABLE [dbo].[ALIS_FIYAT]  WITH CHECK ADD CHECK  (([Alis_Fiyati]>=(0)))
GO
ALTER TABLE [dbo].[ALIS_FIYAT]  WITH CHECK ADD CHECK  (([Miktar]>=(0)))
GO
ALTER TABLE [dbo].[RAPOR]  WITH CHECK ADD CHECK  (([Satilan_Toplam_Urun]>=(0)))
GO
ALTER TABLE [dbo].[SIPARIS_DETAYLARI]  WITH CHECK ADD CHECK  (([Birim_Fiyat]>=(0)))
GO
ALTER TABLE [dbo].[SIPARIS_DETAYLARI]  WITH CHECK ADD CHECK  (([Miktar]>(0)))
GO
ALTER TABLE [dbo].[SIPARISLER]  WITH CHECK ADD CHECK  (([Toplam_Tutar]>=(0)))
GO
ALTER TABLE [dbo].[URUNLER]  WITH CHECK ADD CHECK  (([Fiyat]>=(0)))
GO
ALTER TABLE [dbo].[URUNLER]  WITH CHECK ADD CHECK  (([StokMiktari]>=(0)))
GO
USE [master]
GO
